html,
body {
  background-image: url('../images/bg-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@-ms-viewport{
  width: device-width;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 100vh;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#custom-alert {
  top: 10px;
  position: fixed;
}

#signinTitle{
  font-size: 5vw;
  border:10px;
  border-style: solid;
  border-color: blue;
  background-color: yellow;
}

#inputPassword{
  width: 100%;
}

#Animation{
  width: 100px;
  height: 100px;
  background-color: white;
  background-image: url("../img/talk.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

  animation-duration        : 1s;
  animation-fill-mode       : both;
  animation-iteration-count : 1;
  animation-name            : fastSlide;
  animation-timing-function : linear;
  transform-origin          : bottom;
}

@keyframes fastSlide {
  0%   {left:35%; top:-100px; transform: skewX(-30deg);}
  75%  {left:35%; top:0px; transform: skewX(-30deg);}
  80%   {left:35%; top:0px; transform: skewX(20deg);}
  95%   {left:35%; top:0px; transform: skewX(-10deg);}
  100%   {left:35%; top:0px; transform: skewX(0deg);}
}
